header
{
    background-image: none;
    height: auto;
}

.review
{
    box-shadow: none;
    background-color: white;
    height: auto;
}

.reviews
{
    margin-bottom: 30px;
}

.review-list
{
    height: auto;
}

#account-icon 
{
    filter: none;
}
